---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const projects = [
	{
		title: "Un Ratito con Dios",
		publishDate: "2023-06-10 00:00:00",
		img: "/assets/urcd.png",
		img_alt: "Interfaz de la aplicación Un Ratito con Dios",
		description: "Aplicación móvil con más de 1000 descargas, diseñada para fomentar la espiritualidad mediante herramientas interactivas y oración guiada.",
		tags: ["Mobile App", "Spirituality", "UX/UI"],
		link: "https://lnk.bio/unratitocondios"
	},
	{
		title: "Matio",
		publishDate: "2023-09-15 00:00:00",
		img: "/assets/matio.png",
		img_alt: "Plataforma interactiva para el aprendizaje de matemáticas",
		description: "Aplicación web para el aprendizaje de matemáticas, gamificada y adaptada a diferentes niveles de conocimiento.",
		tags: ["EdTech", "Web App", "Gamification"],
		link: "https://matio.vercel.app/"
	},
	{
		title: "Kompass Cargo",
		publishDate: "2022-11-20 00:00:00",
		img: "/assets/kc.png",
		img_alt: "Landing page de Kompass Cargo",
		description: "Landing page optimizada para Kompass Cargo, mejorando su presencia digital y captación de clientes.",
		tags: ["Web Design", "Landing Page", "Logistics"],
		link: "https://kompassc.vercel.app/"
	},
	{
		title: "Tefio",
		publishDate: "2023-04-05 00:00:00",
		img: "/assets/tf.png",
		img_alt: "Plataforma de gestión de préstamos para negocios",
		description: "Aplicación web que permite a negocios gestionar préstamos con diferentes tasas de interés de manera eficiente.",
		tags: ["FinTech", "Web App", "Automation"],
		link: "https://tefio.vercel.app/"
	},
	{
		title: "Bungalows Perú",
		publishDate: "2023-02-12 00:00:00",
		img: "/assets/bung.png",
		img_alt: "SPA para agencia de viajes en Perú",
		description: "Single page app diseñada para una agencia de viajes especializada en bungalows turísticos.",
		tags: ["Travel", "Web Design", "SPA"],
		link: "https://bungalowsperu.com"
	},
	{
		title: "El Pez Nuestro de Cada Día",
		publishDate: "2022-07-18 00:00:00",
		img: "/assets/pez.png",
		img_alt: "Web moderna para restaurante especializado en pescados y mariscos",
		description: "Diseño y desarrollo de un sitio web para el restaurante 'El Pez Nuestro de Cada Día', destacando su oferta gastronómica.",
		tags: ["Food", "Web Design", "Branding"],
		link: "https://elpeznuestrodecadadia.vercel.app/"
	},
	{
		title: "Grupo Pediátrico",
		publishDate: "2023-08-01 00:00:00",
		img: "/assets/gped.png",
		img_alt: "Página web para uno de los grupos pediatricos más importantes de Lima",
		description: "Página web para uno de los grupos pediatricos más importantes de Lima",
		tags: ["UX/UI", "Salud", "Landing page"],
		link: "https://www.gpediatrico.com/"
	}
];

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
  <div class="stack gap-20 lg:gap-48">
    <div class="wrapper stack gap-8 lg:gap-20">
      <header class="hero-container">
        <div class="text-content">
          <h1 class="title">Hola, soy Nicolás</h1>
          <p class="tagline">Desarrollador fullstack y móvil, con experiencia en automatización de procesos e IA.</p>

          <div class="roles">
            <Pill><Icon icon="code" size="1.33em" color="var(--primary-color)" /> Smart worker</Pill>
            <Pill><Icon icon="microphone-stage" size="1.33em" color="var(--accent-color)" /> Creative</Pill>
            <Pill><Icon icon="pencil-line" size="1.33em" color="var(--secondary-color)" /> Results oriented</Pill>
          </div>
        </div>

        <div class="image-content">
          <img
            alt="Nicolás Contreras smiling in a red plaid shirt and tortoise shell glasses"
            width="480"
            height="620"
            src="/assets/portrait.jpeg"
          />
        </div>
      </header>

 
    </div>

    <main class="wrapper stack gap-20 lg:gap-48">
      <section class="section with-background with-cta">
        <header class="section-header stack gap-2 lg:gap-4">
          <h3>Trabajos destacados</h3>
          <p style={{marginBottom: "30px"}}>Desde proyectos universitarios hasta aplicaciones móviles. Todo con un enfoque de optimización, rápidez y eficiencia.</p>
        </header>

        <div class="gallery">
          <Grid variant="offset">
            {
              projects.map((project) => (
                <li>
                  <div class="project-card">
                    <img src={project.img} alt={project.img_alt} />
                    <h4>{project.title}</h4>
                    <p>{project.description}</p>
                    <ul class="tags">
                      {project.tags.map(tag => (
                        <span class="tag">{tag}</span>
                      ))}
                    </ul>
                    <a href={project.link} target="_blank" class="project-link">Ver proyecto</a>
                  </div>
                </li>
              ))
            }
          </Grid>
        </div>

       <div class="cta">
  <a href="https://wa.me/51949161510" target="_blank" class="cta-link">
    ¿Tienes un proyecto en mente? Hablemos
    <Icon icon="whatsapp" size="1.2em" />
  </a>
</div>

      </section>

 
<section>
<h1>Experiencia Laboral</h1>

    <!-- Carta 1 -->
    <div class="card">
        <h2>Practicante de pricing y optimización de procesos</h2>
        <h3>Kompass Cargo USA · nov. 2024 - actualidad · 3 meses</h3>

        <p>Contacto directo y gestión de una cartera de más de 30 clientes, brindando propuestas personalizadas y fortaleciendo relaciones comerciales clave. Optimización del sistema de rates, reduciendo los tiempos de actualización en un 20% y mejorando la precisión en las cotizaciones.</p>
        <div class="skills">
            <span class="skill">Logística internacional</span>
            <span class="skill">Prompts de inteligencia artificial</span>
        </div>
    </div>

    <!-- Carta 2 -->
    <div class="card">
        <h2>Practicante de desarrollo full stack</h2>
        <h3>trippio · mar. 2024 - Jun. 2024 · 4 meses</h3>
  
        <p>Implementación una interfaz de usuario altamente intuitiva con Next.js, lo que contribuyó a una mayor retención de usuarios en un 30%. Diseño y optimización un sistema de bases de datos, mejorando en un 15% la precisión de los algoritmos de IA.</p>
        <div class="skills">
            <span class="skill">Análisis de la información</span>
            <span class="skill">MySQL</span>
            <span class="skill">Nextjs</span>
            <span class="skill">Gestión de proyectos</span>
            <span class="skill">NodeJS</span>
            <span class="skill">Desarrollo front end</span>
        </div>
    </div>

    <!-- Carta 3 -->
    <div class="card">
        <h2>Coordinador de distribución y despacho</h2>
        <h3>Inversiones MCT · jul. 2023 - feb. 2024 · 8 meses</h3>

        <p>Gestión de un sistema de control de inventario que garantizó la disponibilidad del 100% de los productos en stock durante 8 meses consecutivos. Implementación estrategias proactivas que facilitaron el contacto directo con más de 20 clientes clave.</p>
        <div class="skills">
            <span class="skill">Actitud positiva</span>
            <span class="skill">Gestión de ventas</span>
            <span class="skill">Gestión de cuentas</span>
            <span class="skill">Gestión de cobros</span>
            <span class="skill">Análisis de la información</span>
        </div>
    </div>
</section>


    </main>


  </div>
</BaseLayout>

<style>
   .project-link {
      display: inline-block;
      margin-top: 10px;
      padding: 8px 16px;
      background-color: var(--primary-color);
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }

    .project-link:hover {
      background-color: var(--accent-color);
    }
  .card {
         
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin: 20px 0;
            transition: transform 0.3s ease;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .card h2 {
            margin: 0;
            font-size: 1.5em;
        }

        .card h3 {
            margin: 5px 0;
            font-size: 1.2em;
          
        }

        .card p {
            margin: 10px 0;
         
        }

        .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-top: 1.5rem;
}

.skill {
  background: var(--skill-bg-light);
  color: var(--skill-text-light);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

 .mention-card {
    display: flex;
    align-items: center;
    gap: 12px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s forwards;
  }

  .mention-card:nth-child(1) {
    animation-delay: 0.2s;
  }

  .mention-card:nth-child(2) {
    animation-delay: 0.4s;
  }

  .study-icon {
    color: #4a90e2; /* Color para los iconos */
    transition: transform 0.3s ease;
  }

  .mention-card:hover .study-icon {
    transform: scale(1.2);
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
 .cta {
    text-align: center;
    margin-top: 20px;
  }

  .cta-link {
    display: inline-flex;
    align-items: center;
    padding: 12px 25px;
    background-color: #25D366; /* WhatsApp green */
    color: white;
    font-size: 1.2em;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .cta-link:hover {
    background-color: #128C7E; /* Darker green on hover */
    transform: translateY(-5px);
  }

  .cta-text {
    margin-right: 10px;
    font-weight: bold;
  }

  .cta-icon {
    transition: transform 0.3s ease;
  }

  .cta-link:hover .cta-icon {
    transform: scale(1.2);
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  .project-card img{
	width: clamp(100px, 50%, 50%);
	border-radius
  }

  .text-content {
  }

  .title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .tagline {
    font-size: 2rem;
    color: var(--gray-500);
    margin-bottom: 1rem;
  }

  .roles {
    display: flex;
    gap: 1rem;
  }

  .image-content img {
    width: 100%;
    max-width: 480px;
    height: auto;
    border-radius: 1rem;
  }

  @media (min-width: 768px) {
    .hero-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    .image-content {
      flex-basis: 40%;
    }

    .text-content {
      flex-basis: 55%;
    }
  }

  .project-card {
    border: 1px solid var(--gray-800);
    border-radius: 1.5rem;
    padding: 1.5rem;
    background: var(--background-light);
    box-shadow: var(--shadow-sm);
    text-align: center;
  }

  .project-card h4 {
    font-size: var(--text-xl);
    margin-top: 1rem;
  }

  .project-card p {
    color: var(--gray-300);
  }

  .tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
  }

  .tag {
    background: var(--gray-700);
    color: var(--gray-100);
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.875rem;
  }

  /* Define los colores */
  :root {
    --primary-color: #3498db;
    --accent-color: #e74c3c;
    --secondary-color: #2ecc71;
    --highlight-color: #f39c12;
  }
</style>

